<div class="todo-item" [class.completed]="item?.completed">
  <mat-checkbox class="example-margin"
                [title]="item?.title"
                [checked]="item?.completed || false"
                [indeterminate]="item?.expired"
                [disabled]="item?.expired"
                (change)="toggleCompletionState(item?.id, $event.checked)">
    {{item?.title}}
  </mat-checkbox>

  <span class="due-date">Due Date: {{item?.dueDate | date}}</span>
  <span class="due-date-passed">{{item?.expired ? 'due date passed' : ''}}</span>
  <button
    mat-icon-button
    color="primary"
    class="edit-todo-button"
    [routerLink]="['/todos/', item?.id, 'edit']"
    aria-label="Edit ToDo">
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    class="remove-todo-button"
    (click)="removeItem(item?.id || '')"
    aria-label="Remove ToDo">
    <mat-icon>close</mat-icon>
  </button>
</div>
