:host {
  .todo-form {
    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-title {
      margin-right: 1rem;
      width: 22rem;
    }

    &-submit-button {
      margin: 0 0 1.2rem .5rem;

      .icon {
        font-size: 1.8rem;
      }
    }
  }
}
