:host {
  .todo-add {
    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 2rem;
    }

    &-title {
      margin-right: 1rem;
      width: 22rem;
    }

    &-button {
      margin: 0 0 1.2rem .5rem;

      .add-icon {
        font-size: 1.8rem;
      }
    }
  }
}
